<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="stylesheet" type="text/css" href="src/stylesheet.css">
</head>
<body>
{% extends "template.html" %}
{% block content %}
<!-- Write regular html starting here -->

<div class="about">
    <h1>About</h1>

    <h3>This is a standard cookbook or recipe style web application</h3>
    <h3>Users can browse random "featured" recipes or search for any recipe they desire</h3>
</div>

<!-- Stop writing regular html here -->
{% endblock %}
</body>
</html>