<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motivations</title>
    <link rel="stylesheet" type="text/css" href="src/stylesheet.css">
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <!-- Start writing regular html here -->

    <h1>CookBook</h1>
        <h3>
            Why: As to the reasons of the motivations of this project, this web applications aims to allow users to store and search their favorite recipes. At the same time this web application will allow users to search and experiment with new recipes.
        </h3>
        &nbsp;
        <h3>
            What: The site consists of a bunch of different recipes that users can browse through or even search.
        </h3>

    <!-- Stop writing regular html here -->
    {% endblock %}
</body>
</html>